@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar @(sidebarCollapsed ? "collapsed" : "")">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class="sidebar-toggle" @onclick="ToggleSidebar" title="Toggle sidebar">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </button>
            <ThemeSwitcher /> 
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer class="bottom-row px-4">
            <div class="footer-content">
                <span>Copyright © @DateTime.Now.Year</span>
                <span>|</span>
                <span>App developed with</span>
                <span class="footer-heart" aria-label="love">❤</span>
                <span>by</span>
                <a href="/about" class="footer-link">Migra</a>
                <span>|</span>
                <form action="https://www.paypal.com/donate" method="post" target="_blank">
                    <input type="hidden" name="hosted_button_id" value="69CDGAXVLHWNU" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_MX/i/scr/pixel.gif" width="1" height="1" />
                </form>

            </div>
        </footer>
    </main>
</div>

@code {
    private bool sidebarCollapsed = false;

    private void ToggleSidebar()
    {
        sidebarCollapsed = !sidebarCollapsed;
    }
}

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
